{% extends "share_links/base.html" %}
{% load markdownify i18n humanize %}

{% block content %}

  <article>
    <h2><a href="{% url "category" category.pk %}">{{ category.label }}</a></h2>
  </p>
  {% if category.description %}
    <p>
      {{ category.description|markdownify|truncatewords_html:20 }}
    </p>
  {% endif %}
  </article>

{% endblock %}
