{% extends "share_links/base.html" %}
{% load markdownify i18n %}

{% block content %}
  <article>
    <h2>{{ about_text.page_title }}</h2>

    {{ about_text.description|markdownify }}
  </article>
{% endblock %}
