{% extends "share_links/base.html" %}
{% load share_links_templatetags markdownify i18n humanize %}

{% block content %}
  <h2>{% translate "Error 404" %}</h2>

  <article>
    <p>
      {% translate "Page not found." %}
    </p>
  </article>
{% endblock %}
